.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  padding: 10px;
  margin: 0;
  background-color: greenyellow;
  width: 100%;
}

.form{
  /* margin: auto; */
  /* text-align: center; */
  margin-top: 15px;
  /* padding-right: 20px; */
} 

.data{
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* margin-top: 25px; */
  /* width: 100%; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.data_val{
  display: flex;
  justify-content: space-between;
  width: 40%;
  background-color:aquamarine;
  padding: 10px;
}